[2019-03-12 04:01] nkurihar opened #2 "Implement producer.flush"
https://github.com/apache/pulsar-client-node/pull/1#discussion_r264305130

[2019-03-14 00:40] k2la opened #3 "Support Authentication"
Support authentication using the following providers:
- TLS Authentication
- Athenz

[2019-03-14 00:43] aahmed-se opened #4 "Resolve eslint issues"
[code]

[2019-03-14 00:54] k2la opened #5 "Implement Reader"
Implement reader and create example code.

[2019-03-14 02:33] k2la opened #6 "Publish Library to npm"
Publish `pulsar-client-node` to npm.

- make tests
- set user information
- prepare `package.json` and set values to it.
  - https://docs.npmjs.com/files/package.json
- publish
  - https://docs.npmjs.com/cli/publish

[2019-03-14 02:42] k2la opened #7 "Add Tests and Test Framework"
- Add tests
- Install test framework
- Add scripts to do test, format, lint and so on.
  - https://docs.npmjs.com/misc/scripts

[2019-03-14 03:24] k2la opened #8 "Create Documents"
Create documents in [Pulsar Docs](https://pulsar.apache.org/docs/en/client-libraries/)
- Installation
- Connection URLs
- Creating a client
- Producers
- Consumers
- Readers
- Messages
- TLS encryption and authentication

[2019-03-14 03:34] k2la opened #9 "Support Logger and Options for Custom Logger"
Support default logger and options for custom logger.
FYI: https://github.com/apache/pulsar/pull/1827

[2019-03-14 03:45] k2la opened #10 "Create Docker Container and Scripts to Build"
Create files about Docker to build.
- Dockerfile
- scripts about build, test, format and so on.
https://github.com/apache/pulsar/tree/master/pulsar-client-cpp
https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/docker

[2019-03-14 04:34] k2la opened #11 "Support CompressionZSTD"
Support ZSTD for compression.

Currently, about compression, `None`, `Zlib` and `LZ4`. are supported.
https://github.com/apache/pulsar-client-node/blob/master/src/ProducerConfig.cc#L49-L50

It is not in `client-cpp/include/pulsar/c/producer_configuration.h`. https://github.com/apache/pulsar/blob/79b88cf66eb2a4d337e21ade7f699c7d641b5c9a/pulsar-client-cpp/include/pulsar/c/producer_configuration.h#L4

[2019-03-14 04:38] k2la opened #12 "Support Multi Topics Consumer"
Support multi topics consumer.

[2019-03-14 04:59] k2la opened #13 "Implement Serialize/Deserialize for MessageId"
Implement Serialize/Deserialize for MessageId.
We may be able to implement  them by using [NAPI::Buffer](https://github.com/nodejs/node-addon-api/blob/master/doc/buffer.md)

[2019-03-14 05:16] k2la opened #14 "Implement Asynchronous Processing Using C Async Function"
Currently, asynchronous processing in this client library is implemented by using [NAPI::AsyncWorker](https://github.com/nodejs/node-addon-api/blob/master/doc/async_worker.md).
e.g.  https://github.com/apache/pulsar-client-node/blob/master/src/Producer.cc#L89-L120

We used `AsyncWorker` because segmentation fault about NAPI objects occurred in callback registered  with C async function.
FYI: https

[2019-03-14 05:31] k2la opened #15 "Support MessageRouter for Partitioned Topic"
Support `MessageRouter` registered with producer config.

[2019-03-14 05:32] k2la opened #16 "Support CI/CD Using Jenkins"
Support CI/CD Using Jenkins.

[2019-03-14 05:47] k2la opened #17 "Support Registration of MessageListener"
Support registration of messageListener for Consumer.

[2019-03-14 05:52] k2la opened #18 "Support Set Replication Clusters"
Support setting replication clusters for `buildMessage`.

[2019-03-14 06:45] k2la opened #19 "Improve Timing of Promise "then""
Currently, To measure latency of sending messages,  asynchronous processing using Nodejs [Promise](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) like following code:

[code]
https://github.com/apache/pulsar-client-node/blob/master/perf/perf_producer.js#L88-L98

This code creates histogram about latency of sending messages.
However, all `then()` of `Promi

[2019-03-14 06:50] k2la opened #20 "Implement Latency Measurement for Consumer"
Perf-Consumer supports only throughput`.
https://github.com/apache/pulsar-client-node/blob/master/perf/perf_consumer.js

[2019-03-14 06:55] k2la opened #21 "Implement AckCumulative/AckCumulativeID"
Implement AckCumulative/AckCumulativeID.

[2019-03-14 07:09] aahmed-se opened #22 "Convert project to typescript."
Target version 3.3

[2019-03-14 20:20] #2 closed

[2019-03-29 01:08] #3 closed

[2019-04-23 04:09] nkurihar commented on #7
Fixed by:
https://github.com/apache/pulsar-client-node/pull/26
https://github.com/apache/pulsar-client-node/pull/27

[2019-04-23 04:16] #7 closed

[2019-06-10 23:58] nkurihar commented on #21
Fixed by https://github.com/apache/pulsar-client-node/pull/29

[2019-06-10 23:58] #21 closed

[2019-06-11 15:21] 1N50MN14 opened #32 "Dependencies + subscription modes"
Hi,

Thank you for the node.js client!

Two questions:
1. `bindings` seems to be the only dependency core depends on, otherwise `commander`, `delay`, `hdr-histogram-js` and `lodash` are exclusively used in `perf`, would it be possible to move those to `devDependencies` to keep the client lightweight?

2. Is it possible to specify subscription node? similar to:
https://github.com/apache/pulsar/blob

[2019-06-12 04:50] k2la commented on #5
Added https://github.com/apache/pulsar-client-node/pull/31

[2019-06-12 04:50] #5 closed

[2019-06-12 23:55] hrsakai commented on #32
@1N50MN14

I see. We will check and fix it.

Yes, you can specify subscription node as following:
[code]

Thanks.

[2019-06-13 08:20] 1N50MN14 commented on #32
Ah cool you had that implemented already, thanks @hrsakai

[2019-06-13 09:45] nkurihar commented on #32
@1N50MN14

https://github.com/apache/pulsar-client-node/pull/35
Now those libraries were moved to devDependencies.
Thank you for your suggestion!

[2019-06-13 09:45] #32 closed

[2019-07-16 06:44] MedusaLeee opened #36 "When will release 2.4？"
When will release 2.4？

[2019-07-17 11:23] nkurihar commented on #36
Hi, thank you for your comment!

Please let me confirm that what you meant "2.4 release":
* Do you wait for the release announcement of the node.js client?
* Do you want to use some features implemented in 2.4 C++ client?

Since our current status is considering the release procedure,
could you please wait about a month for the first release(publishing packages to npm registry and the announcement

[2019-07-18 02:20] nkurihar commented on #13
Fixed by
https://github.com/apache/pulsar-client-node/pull/37

[2019-07-18 02:20] #13 closed

[2019-07-26 13:51] freeart opened #39 "double free or corruption (out): 0x00007f85abffad00"
Pulsar 2.4 runs in docker on the remote machine
The project has three readers like this.
Common client between them and 3 local readers.
Each of them reads own topic.
[code]
Get this error 3 times when new messages come to topic. Don't know what exactly was the cause
[code]

[2019-08-05 11:50] freeart opened #42 "Set log level to warn/error by default"
Nodejs console prints INFO statistic messages every few seconds like
[code]
How to mute it or set log level to WARN or ERROR?
Is it possible to set from outside (js code)?

[2019-08-05 14:01] freeart commented on #42
I found in src param "statsIntervalInSeconds" needs to be "0" to mute stats

[2019-08-05 14:01] #42 closed

[2019-08-06 05:45] nkurihar commented on #39
@freeart Thank you for your reporting.
This is fixed by https://github.com/apache/pulsar-client-node/pull/41 .

[2019-08-06 05:45] #39 closed

[2019-08-08 23:06] hrsakai commented on #16
I added [precommit job](https://builds.apache.org/job/pulsar_precommit_client_node/).

[2019-08-08 23:06] #16 closed

[2019-08-19 15:48] daghdha opened #46 "fatal error: pulsar/c/message.h: No such file or directory"
Hi there,

I was having a problem trying to install/build the client node.  I follow the instructions, git clone and then run the npm install and I get the following:

[code]

Then I try a npm run build just in case I was crazy, but I get this:
[code]

Not sure what I am doing wrong, is there something that I am missing?

[2019-08-21 07:28] daghdha commented on #46
Nevermind.  leaving this comment for others....

turns out that I install the pulsar-client c++ library, but what you NEED is the **pulsar-client-dev** c++ library because it installs the header files that are needed for the wrapper.

should be updated in the docs I think.

[2019-08-21 07:28] #46 closed

[2019-08-29 08:02] nkurihar commented on #6
Published:
https://www.npmjs.com/package/pulsar-client

[2019-08-29 08:02] #6 closed

[2019-09-03 04:58] nkurihar commented on #36
https://www.npmjs.com/package/pulsar-client/v/1.0.0
Now 1.0.0 is released.
It's compatible with C++ Cliet 2.3.0 or later.

[2019-09-03 04:58] #36 closed

[2019-09-16 19:58] stephen-dahl opened #54 "automating the install of pulsar-client and pulsar-client-dev"
Another package I use (node-sass) downloads and builds its native dependencies automatically.
It does this by using npm's install and post install hooks: https://github.com/sass/node-sass/blob/887199a28fbed12f18dfecbfa5495aa5d48b2d4e/package.json#L31
their install script: https://github.com/sass/node-sass/blob/master/scripts/install.js
their postinstall script: https://github.com/sass/node-sass/bl

[2019-09-25 21:09] m4rcelofs opened #55 "Support for custom Authentication mechanism"
In the Java SDK, it's easy as a consumer to use a custom authentication method.

Is there a way to do the same in the JS SDK? I tried browsing the source but couldn't find a straightforward way to accomplish it.

Example of what I'm trying to do:
- [implement Authentication](https://github.com/TuyaInc/TuyaDemo/blob/master/open-mq-sdk/src/main/java/com/tuya/open/sdk/mq/MqAuthentication.java)
- [imp

[2019-09-27 03:02] nkurihar commented on #55
Since this node.js client wraps C++ client, you need to implement custom authentication plugins for C++ client like:
https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/lib/auth

[2019-09-30 18:54] m4rcelofs commented on #55
Nice, thanks

[2019-09-30 18:54] #55 closed

[2019-10-23 13:51] zzzming commented on #46
I confirm both client-devel and client are required to build node.js driver.
Here is the link for rpm or deb packages https://pulsar.apache.org/docs/en/client-libraries-cpp/

[2019-10-24 07:23] hrsakai commented on #8
Added by https://github.com/apache/pulsar/pull/5212

https://pulsar.apache.org/docs/en/next/client-libraries-node/

[2019-10-24 07:23] #8 closed

[2019-11-08 08:42] frejonb opened #57 "Support new methods from 2.4.0"
In 2.4.0 https://pulsar.apache.org/release-notes/ negative ack methods were introduced. Are there any plans to update the addon api wrappers to support these?

[2019-11-27 02:39] #57 closed

[2019-11-28 04:41] balagurunilacandane commented on #46
Thank you @zzzming  and @daghdha

[2019-11-30 08:03] frejonb commented on #22
An alternative is to create a `@types/pulsar-client-node` definition in https://github.com/DefinitelyTyped/DefinitelyTyped

[2019-11-30 12:24] aahmed-se commented on #22
that works to

[2019-12-11 17:36] kurayama opened #60 "Add consumer initial position"
The consumer api is currently missing a way to set the InitialPosition and is defaulting to latest.

[2019-12-12 12:46] danielfigueiredo opened #61 "Support for Avro schema on `createProducer`"
Would it be possible to add a `schema` property on the config object that initializes `createProducer`? Similar to what Python does, we could initialize [avro-js](https://www.npmjs.com/package/avro-js) with the JSON schema and call `type.getSchema()` to initialize the producer.

Having to disable schema validation on topics isn't ideal for some cases and I think only Java and Python are the client

[2019-12-16 16:03] mhaagens opened #62 "Listening for messages"
How can I listen to incoming messages? The `listener` property on consumer doesn't seem to do anything.

[2019-12-16 16:06] david-streamlio commented on #62
@mhaagens In order to receive messages, you will want to use the `subscribe` method as shown in the following example:  https://github.com/apache/pulsar-client-node/blob/master/examples/consumer.js

[2019-12-16 16:19] mhaagens commented on #62
Thanks for the quick reply! I am using subscribe, but as far I can see from the example you have to manually call receive on the subscriber in a loop to get messages?

[2019-12-16 16:24] david-streamlio commented on #62
@mhaagens You are correct. The `subscribe` command is used to register your consumer on the Pulsar broker, so it will know that you want to receive the messages. After you had subscribed, you have to make a call as shown on line 39 of the example code; `const msg = await consumer.receive();` to get the message.  It is a blocking call that will deliver one message (if and when it is available).

HT

[2019-12-16 16:31] mhaagens commented on #62
Okay, so am I understanding it correctly that there’s no way to set up a listener that processes messages as they come in? Similar to this in kafka-Node;

`consumer.on('message', function (message) {
    console.log(message);
}); `

[2019-12-16 16:37] david-streamlio commented on #62
@mhaagens  Not yet, but there appears to be a PR in process now to add this capability.  https://github.com/apache/pulsar-client-node/pull/56

[2019-12-16 16:40] mhaagens commented on #62
Awesome, thanks!

[2019-12-17 09:31] mhaagens commented on #62
Would this be a solution in the meantime?
[code]

[2019-12-17 16:02] david-streamlio commented on #62
@mhaagens Yes.

[2019-12-17 16:04] cristiandley opened #63 "Avoid passphrase request ?"
Once i start the client asks me for a passphrase, is there a way to avoid it ? (like Rabbit offers)

[2020-01-14 11:54] sijie commented on #63
@cristiandley can you describe a bit more about your steps?

[2020-01-21 01:21] bwalendz commented on #9
Does this have any ETA? Is there any other way to control log level now because it's actually hindering development by having it output INFO logs on the client side and being very chatty. Thanks.

[2020-01-23 17:20] bwalendz commented on #22
I've added v1.0 types to DefinitelyTyped.

`npm install -D @types/pulsar-client`

[2020-01-24 10:47] aahmed-se commented on #22
@bwalendz please add that to the readme.md

[2020-01-28 02:17] nkurihar commented on #22
@bwalendz @aahmed-se
Thank you for adding the definition and document!
By the way, do you have any idea about the procedure / policy to maintain them?

[2020-02-03 01:03] #60 closed

[2020-02-06 01:25] #18 closed

[2020-02-16 21:46] mkaufmaner opened #70 "KeyShared Subscription Type"
Currently, the node.js client is missing key shared subscription type which in the c++ client.

[2020-02-16 21:57] mkaufmaner opened #72 "Read from Compacted Topic"
Currently you cannot consume a compacted topic.

[2020-02-20 13:09] mkaufmaner commented on #72
Closed by https://github.com/apache/pulsar-client-node/pull/73

[2020-02-20 13:09] #72 closed

[2020-02-20 13:09] mkaufmaner commented on #70
Close by https://github.com/apache/pulsar-client-node/pull/71

[2020-02-20 13:09] #70 closed

[2020-02-20 16:09] gilesbradshaw opened #75 "Fail on disconnect"
Is there/should there be a way to fail a subscription when disconnected from the server?

I would normally crash the process when this happens..

However

[code]

just seems to wait forever with debug output indicating retrying but operationTimeoutCeconds having no effect.

[2020-02-20 19:17] gilesbradshaw opened #76 "subscribe from earliest message"
If I have already produced on a topic and then subscribe for the first time - is there a way to get the messages that were already produced at the time of subscription?

[2020-02-20 19:22] gilesbradshaw commented on #76
ok I am answering my own question here

it's

[code]

however I didn't find this in the docs...

[2020-02-20 19:22] #76 closed

[2020-03-01 19:49] alijmlzd opened #78 "Error: Failed to send message: AlreadyClosed"
Hi there,
Why this example with 1 second timeout works fine:
[code]
But this example with a few more seconds timeout occurs an error?
[code]
Full error message:
[code]

[2020-03-02 04:06] promise94 opened #79 "Install pulsar-node on Windows NPM"
**System information**

- window10 x64
- node@12.14.1
- node-gyp@3.8.0

**Run the command**
`npm install pulsar-client --save`

**The error message**

[code]

[2020-03-04 18:54] alijmlzd commented on #78
Is there any kind of activity is there to solve this issue?
To be more specific, I run pulsar inside Docker like this [as described here](https://pulsar.apache.org/docs/v2.0.1-incubating/getting-started/docker/):
[code]
And here is the pulsar server logs:
[code]
I see on log `18:33:19.431` there is a connection close after a few second from producer creation. so this is not clear enough for me tha

[2020-03-05 09:50] alexyans commented on #78
I have the same problem. Sending a message immediately after initializing the producer works fine, so it can't be a TLS handshake issue. The connection seems to timeout after a second or so.

[2020-03-05 09:56] alexyans commented on #78
@alijmlzd did you try rolling back to an older version? Any luck finding one?

[2020-03-05 15:16] alijmlzd commented on #78
@alexyans No, but I will try that and share my result.
By the way, what version you recommend to start?

[2020-03-05 16:59] alexyans commented on #78
I tried 2.4 of the client as it was the one recommended by Kafkaesque, but the problem was still there for me. Didn't bother going further back as this is unspecified behavior and most likely caused by the pulsar server, and I have no control of what version Kafkaesque uses. It appears that the server explicitly closes the connection for some reason.

For my use case, I worked around the problem b

[2020-03-05 20:36] alijmlzd commented on #78
Oh, as a quick fix its a good idea. but what if I have about more than 1000 send messages per second? Is it ok to create a producer, send and then flush and close the producer each time?

[2020-03-06 09:04] alexyans commented on #78
That would be hard to tell without looking at the code. We know the client uses a connection pool for the original client connection, but it's not clear to me whether the producers/consumers create separate connections or piggyback on the one client connection. I'm not exactly sure what happens when you create a producer, it could be cheaper than it looks.

But yeah, I share your frustration. Hope

[2020-03-10 12:51] mkaufmaner opened #80 "Release 1.2.0"
@hrsakai Can you release 1.2.0?  Thank you.

[2020-03-11 05:35] hrsakai commented on #80
@mkaufmaner
We will release v1.2.0 in a few months.
Please wait until then.

[2020-03-12 01:43] equanz commented on #78
It seems that `setTimeout` callback function run after pulsar client was destructed.
I think if use `setTimeout` in this case, should to use Promise and wait for timeout.

Here is an example.
[code]

[2020-03-12 21:15] alexyans commented on #78
@equanz your example handles the rejection, sure. But there shouldn't be a rejection in the first place. A producer closing after some timeout is unspecified behavior. It also drifts from the convention: a producer connection should remain open as long as you need it open. Otherwise there would be no need to explicitly close it as per the docs. If it closes itself no matter what you do, it is safe

[2020-03-13 05:13] equanz commented on #78
As above, it seems that client has already been destructed when executing `send` after timeout ms. Therefore, it seems that the connection was closed by not Broker but client.

Here is the destructor implementation in C++ client(Node.js client wraps C++ client)
* https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/ClientImpl.cc#L128
  - https://github.com/apache/pulsar/blob/master/p

[2020-03-16 12:14] yosiat commented on #9
hi!

I played out with the code to see if I can implement something for it.
and I am ready for making a PR.

I was thinking about something like the go client -

[code]

What do you think?

[2020-03-17 12:32] yosiat commented on #9
Managed to figure the issues and this works.
Will make a PR soon.

[2020-03-18 10:49] yosiat commented on #62
Hi!

I tried the listener implementation with the following code, that listens forever to messages and once any key received we close the consumer and client (in real-life: instead of listening to any key, we will listen to shutdown signals) -

[code]

I have producer which emits at regular intervals (after some time, fails on this - https://github.com/apache/pulsar-client-node/issues/78 and I res

[2020-03-18 22:31] sijie commented on #62
@yosiat yes. this approach looks good to me. Can you create a pull request for your proposed change?

[2020-03-18 22:39] sijie commented on #78
"AlreadyClosed" indicates that the client is already closed. You need to avoid client destruction.

See a producer example: http://pulsar.apache.org/docs/en/client-libraries-node/#producer-example

[2020-03-18 22:44] sijie commented on #75
@gilesbradshaw you can try `receive(Number)` to wait for a certain timeout interval.

http://pulsar.apache.org/docs/en/client-libraries-node/#consumer-operations

[2020-03-19 12:35] yosiat commented on #78
How I avoid client destruction?

In the following example, I create a producer and produce a message every 1 second.

[code]

Output:
[code]

[2020-03-19 12:39] yosiat commented on #62
@sijie created a PR, here: https://github.com/apache/pulsar-client-node/pull/83

[2020-03-19 13:31] alexyans commented on #78
This is a playground example though. In a real system you can't necessarily control the rate of messages produced, as they correspond to real-time events. You could send mock keep-alive messages but it's ugly and a waste of resoures.

[2020-03-19 13:57] yosiat commented on #78
@alexyans yeah this is an example, but in real system, I want to use the same producer and publish messages every now and then. we have a system that publish a message every one minute, in this case I will need to create new producer every-time.

[2020-03-21 09:17] eaba commented on #78
There are two sides to this, cause I experienced it!
1 - If your producer is actually being closed, have you tried Ping-ing the server every, lets say, 30s.                            Also try handling Ping command coming from the server.

2 - It might be that you created a producer with one connection and sending messages via another connection that is not meant for that producer - you will get a

[2020-03-23 13:23] yosiat commented on #78
Hey!

I see you what you are writing here, but this is a bug in the client.
I don't need to implement any keepalives or ping-pong mechanism on my own.

Here is the go client, doing the same thing I did with my nodejs example (https://github.com/apache/pulsar-client-node/issues/78#issuecomment-601153727) - https://gist.github.com/yosiat/97460fb4dee41c5d0d0f6873a31c77d9

The go code is producing all

[2020-03-23 14:48] alexyans commented on #78
okay if that's true, i think you're right about the root cause. @sijie how do you want to proceed?

[2020-03-24 14:57] yosiat commented on #17
hey @k2la,

this feature exists in the client, see issue: https://github.com/apache/pulsar-client-node/issues/62
I did a fix for it, so the consumer won't die (before of no refs) -  https://github.com/apache/pulsar-client-node/pull/83

[2020-03-24 21:49] sijie commented on #78
@alexyans @yosiat I think we can let Producer object keep a reference to the client. So if your application keeps references to Producer, it should keep the reference to the client as well. So the client instance will not be destroyed.

[2020-03-24 21:53] yosiat commented on #78
@sijie sounds like a good approach, I tried my approach of creating napi ref, but couldn't find a way to implement it.

I will implement your approach and create a pull request for that.

[2020-03-25 04:39] hrsakai commented on #9
Closed by https://github.com/apache/pulsar-client-node/pull/82

[2020-03-25 04:39] #9 closed

[2020-03-25 14:24] yosiat commented on #78
@sijie tried out creating a reference to a client from the producer but it didn't help (tried with InstanceAccesor) and it created a weird dependency on the code which I didn't feel comfortable doing.

But I found out how to create a reference for a client and un-reference it when the client closes the connection.

This PR - https://github.com/apache/pulsar-client-node/pull/85 fixed the code I wro

[2020-03-26 02:25] #78 closed

[2020-03-26 20:08] alexyans commented on #78
@yosiat thank you!!

[2020-03-26 21:50] yosiat commented on #78
@alexyans happy to help :)

[2020-04-13 16:32] gperinazzo commented on #62
@yosiat I'm seeing a crash if a client with listener is closed twice after your pull request:
[code]
Crashes with the following output:
[code]
Before the PR, the second call to Close would fail with an Already Closed error, but without crashing Node.

I wrote the original listener implementation, thanks for cleaning it up! Most of the reason it was messy was that I couldn't find a better way to no

[2020-04-17 11:37] richtu4n opened #87 "npm install fails on MacOS"
### System Information
* Operating System: MacOS Catalina 10.15.2
* Node version: 12.13.1
* node-gyp version: 6.1.0
* C++ Client: 2.5.0 (brew install libpulsar)

Running `npm install pulsar-client` results in the following error:
[code]

[2020-04-17 16:27] swanav commented on #55
Hey @m4rcelofs , from your example I can see that you were trying to implement the Pulsar Client for Tuya Cloud. Did you have any success doing that?

[2020-04-17 17:23] m4rcelofs commented on #55
We did, you might wanna take a look at [fundacaocerti/pulsar-client-node](https://github.com/fundacaocerti/pulsar-client-node/tree/tuya_auth_plugin) and [fundacaocerti/pulsar](https://github.com/fundacaocerti/pulsar/tree/tuya_auth_plugin).

I left the project shortly after the message, but @lna-certi might have some better info on that.

[2020-04-18 10:32] swanav commented on #55
Thanks! Seems interesting. I'll look into it.

[2020-04-20 01:39] sijie commented on #87
@richtu4n before you install the node client, you have to install the cop client first. See instructions at http://pulsar.apache.org/docs/en/client-libraries-node/#requirements

[2020-04-29 11:52] JimKnopf182 commented on #87
Same here. I installed the cpp client first, but still same problem?

[2020-05-04 06:03] NIVJAIN commented on #87
@JimKnopf182
change the package.json project name to something else. see below
  "name": "pulsar-client" original.
npm throws out an error because of the project name.

[2020-05-06 02:03] tuteng commented on #87
Have you tried to install `libpulsar`, and after installing `libpulsar` https://pulsar.apache.org/docs/en/client-libraries-cpp/#macos, is there still this problem? @NIVJAIN @JimKnopf182

[2020-05-15 10:58] JimKnopf182 commented on #87
@tuteng yes libpulsar is the cpp client!? installed it and same problem.

[2020-05-16 02:49] NIVJAIN commented on #87
@tuteng and @JimKnopf182 ,
It worked for me pulsar in standalone mode on my mac system
MacOsCatalina 10.15.2

It didnt work for me on docker,  below docker-compose.yaml.
[code]

[2020-05-17 08:02] krvarma commented on #87
`brew install libpulsar` and then `npm install pulsar-client` worked without any issues on macOS Catalina

[2020-05-19 01:02] pikitgb commented on #87
brew install libpulsar didn't worked for me,
I'm getting the following error

[code]

[2020-05-19 01:11] pikitgb commented on #87
Also no luck running from docker
[code]
Getting the following error:

[code]

[2020-05-19 04:50] sijie commented on #87
@pikitgb what version of os?

[2020-05-19 19:06] sneerin commented on #87
i've got libpulsar installed and this
`node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://pulsar.apache.org/docs/en/client-libraries-cpp/libpulsar-v1.1.0-node-v72-darwin-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for pulsar-client@1.1.0 and node@12.13.0 (node-v72 ABI, unknown) (falling back to source compile with node-gy

[2020-05-19 20:03] sneerin commented on #87
switching to nodejs 10.x gives another error:
`  CXX(target) Release/obj.target/binding/src/binding.o
In file included from ../src/binding.cc:1:
In file included from ../src/./binding.h:6:
In file included from ../../nan/nan.h:190:
../../nan/nan_maybe_43_inl.h:88:15: error: no member named 'ForceSet' in 'v8::Object'
  return obj->ForceSet(GetCurrentContext(), key, value, attribs);
         ~~~  ^`

[2020-05-19 20:21] sneerin commented on #87
This solved the issue
npm config set python /path/to/executable/python2.7
npm install --python=python2.7

[2020-05-19 22:58] pikitgb commented on #87
@sneerin uhm, not sure how,

[code]

[code]

[code]

[code]

[code]

I'm using Catalina 10.15.2 (19C57)

[2020-05-19 23:00] pikitgb commented on #87
Uhm, I was able to install using node 12.16.2 but not 8 nor 10

[2020-05-20 02:01] sneerin commented on #87
this is sort of black magic to me :(

[2020-05-20 02:31] sneerin commented on #87
seems to be very sensitive to npm version, updating npm to latest version fixed issues.

[2020-05-20 02:31] sneerin opened #89 "Wildcard cupport"
I saw wildcard support in golang examples, is there same support for this client?

[2020-05-21 15:16] alphara opened #90 "Does pulsar-client-node support JWT authentication?"
We want our service that uses node.js pulsar client to authenticate using JWT. I don't see [here](http://pulsar.apache.org/docs/en/security-jwt/) that Node.js client supports authentication using tokens based on JSON Web Tokens.

![image](https://user-images.githubusercontent.com/5960045/82573488-36fbf580-9b5c-11ea-9de6-93504a0da733.png)

Is not this feature documented or implemented? If not imple

[2020-05-21 15:42] alphara commented on #90
We found this in code:
https://github.com/apache/pulsar-client-node/blob/master/src/AuthenticationToken.js

[2020-05-22 01:48] jiazhai commented on #90
@alphara would like to close this issue.

[2020-05-22 01:48] #90 closed

[2020-05-26 21:58] burtontanner commented on #87
My thought is that npm install should add everything I need.. Once I figure out how to get this installed, I have to help other developers get it going. Nope im out.

[2020-05-29 11:31] goku321 opened #91 "Thousands of producers are getting created"
Hi, I'm using node pulsar client to publish messages on a partitioned pulsar topic with 100 partitions. I'm spawning 20 node processes and reusing the same producer(I'm not closing the producer) that means there should be only 20 producers. But, when I see topic stats it shows a lot of producers (in thousands). What I'm doing wrong? Also, is there a difference b/w a producer and a publisher?

[2020-05-29 14:56] goku321 opened #92 "Creating a subscription with initial position as "earliest""
My use case: I have a shared subscription with a bunch of consumers. Suppose, all the consumers die and there are messages still being published to the topic. When a new consumer comes in, I want it to read from the last unacknowledged message so that no messages are lost or unprocessed.

So, I want to create a subscription with initial subscription position as `earliest` but I don't see any optio

[2020-05-30 02:00] sneerin opened #93 "Producer connection status"
It would be nice to know if the producer is actually connected. Something like `isLive` would be amazing.

[2020-06-01 01:38] sijie commented on #91
@goku321 Since you are using a partitioned topic with 100 partitions, you will have 100 sub-producers when constructing one producer. If you create 20 producers, you will have ~2000 producers.  Is this the behavior you are seeing?

[2020-06-01 04:47] goku321 commented on #91
@sijie I'm actually seeing more producers than 2000. Attaching the screenshot:
![image](https://user-images.githubusercontent.com/12848015/83376726-02f0c200-a3f1-11ea-85f9-47e1545f0a71.png)

[2020-06-01 23:36] sijie commented on #91
@goku321 Can you run `pulsar-admin topics stats` to get the topic stats of a given topic partition?

[2020-06-03 08:19] equanz commented on #92
Since subscription hold cursor(position of acked message) and cursor move forward when consumer send acknowledge, I think new consumer just reconnect your shared subscription.

More detail, please see below.
https://pulsar.apache.org/docs/en/concepts-messaging/#shared

[2020-06-03 12:25] goku321 commented on #92
@equanz What if there were messages even before creating the subscription? I don't think subscription will read the old messages by defaultl

[2020-06-04 08:23] equanz commented on #92
I see. In your use case, create new subscription when a new consumer comes in, right?
If so, I think new subscription use `earliest` position and don't process processed message by consumer side.

`earliest` can set initial subscription position to 'never deleted' message. However, 'never deleted' message is not always corresponding to unacked message correctly.

If you don't implement this proces

[2020-06-11 11:03] psr323 opened #94 "Message ID for produced messages"
Hi,
Currently we are not getting any response for a produced message. Is there a way to get the message ID for a message that was produced? If not, can we please have that feature?

[2020-06-17 07:16] pradeep-mishra commented on #14
any update on this?

[2020-06-17 08:12] nkurihar commented on #14
@pradeep-mishra
Sorry, there is no update.
As described in https://github.com/apache/pulsar-client-node/pull/56, `ThreadSafeFunction` may solve this issue but we haven't tried yet.

[2020-06-19 06:57] k2la commented on #94
There is not such a way at present but we will support it in the future.
It may take some time to support it as `pulsar-client-cpp` needs to be modified.

[2020-06-19 07:31] dantepsychedelico opened #95 "Fail on send message and receive message"
Hi,
I have a question, when I use more than three consumers and producers together, I can't send any message and got message. I have no idea to debug it.

[code]

[2020-06-19 14:18] dantepsychedelico commented on #95
I change receive message from promise to listener [Ref](https://github.com/apache/pulsar-client-node/issues/62), the problem is sloved now.

[2020-06-19 14:18] #95 closed

[2020-06-23 21:47] Ugzuzg opened #97 "node-pre-gyp setup"
The current node-pre-gyp setup is incorrect, the binary host points to the docs instead of a place where the built binaries are stored.

Things to do to improve the usage:
- [ ] Set up a CI on Mac OS and Linux (glibc and musl builds?) to build the binaries.
- [ ] Use [node-pre-gyp-github](https://github.com/bchr02/node-pre-gyp-github) tool to upload the built binaries to GitHub releases, so that u

[2020-06-26 04:18] s-yoshika opened #98 "Support getRedeliveryCount of Message"
I need to use `message.getRedeliveryCount`  to acknowledge the message retryed too many(or to cancel the message). It seems not to be defined in pulsar-node-client but which is already defined in [cpp client](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/c/c_Message.cc#L126).

Is this going to be supported by pulsar-node-client? or are there any other ideas to achieve what I w

[2020-06-27 00:06] sammoh94 opened #99 "Authenticating using a Token"
Hi,

I am trying to use a token to create a producer but keep getting the following message
[code]

When I try to connect locally using a token, it seems to work however when I am running it in production, I am seeing the above messages. Therefore, not sure how to replicate it locally.

Is there a way to use the token or do I have to use the certification / private key approach when initializing t

[2020-06-29 01:52] sijie commented on #99
How do you create the producer? Can you show us the code sample?

[2020-06-29 17:16] sammoh94 commented on #99
Producer or client? I create the producer as follows:

[code]

The client is created as follows:

[code]

[2020-06-30 04:32] psr323 opened #100 "Listener for Consumers"
Hi,
Is there a way to add listener callback to a consumer?

[2020-07-01 14:54] dionjansen commented on #98
@s-yoshika I believe this has already been implemented by @frejonb in https://github.com/apache/pulsar-client-node/compare/master...frejonb:add-redelivery 👏 . @frejonb any objections to publishing a PR?

[2020-07-01 15:46] dionjansen commented on #98
@frejonb to help out I resolved any merge conflicts with the latest `1.2.0-rc.0` in this branch: https://github.com/dionjansen/pulsar-client-node/tree/getRedeliveryCount

[2020-07-01 16:58] frejonb commented on #98
@dionjansen it might be easier if you propose the PR from your branch. 👍

[2020-07-02 00:27] sammoh94 commented on #99
@sijie following up on this. Do you have any thoughts/ suggestions? Thanks!

[2020-07-02 00:42] alphara commented on #62
The listener works for consumer. But it does not work for reader:
[code]
Do you want to implement it?

[2020-07-02 01:40] jiazhai commented on #100
Hi @psr323 Seems there is already have the listener supported in consumer:
https://github.com/apache/pulsar-client-node/blob/master/src/Consumer.cc#L64

[2020-07-02 04:00] psr323 commented on #100
Hi @jiazhai Thanks for the response. I couldn't find any samples of this in the docs. Can you please provide an example code for this functionality

[2020-07-02 07:12] sijie commented on #99
@sammoh94 it looks that the token doesn't have permissions to access the topic. Have you verified that you are using the right token?

[2020-07-02 11:49] yosiat commented on #62
@alphara looks like the c/c++ which we rely upon don't support listener for reader interface.

[2020-07-02 13:06] gperinazzo commented on #62
I think it is supported on version 2.4.0. Here's the [relevant function](https://github.com/apache/pulsar/blob/v2.4.0/pulsar-client-cpp/include/pulsar/c/reader_configuration.h#L40).

[2020-07-03 06:15] equanz commented on #100
I'll add simple example code to repository.
https://github.com/apache/pulsar-client-node/pull/102

Other examples, please see below.
https://github.com/apache/pulsar-client-node/pull/83

[2020-07-03 06:53] psr323 commented on #100
Thanks for the example @equanz. So the current version is 1.2.0? But in the homepage the latest version is 1.1.0

[2020-07-03 07:02] equanz commented on #100
Current version is 1.1.0(https://github.com/apache/pulsar-client-node/tags). Issue will be fixed in 1.2.0(unreleased).

[2020-07-03 12:20] psr323 commented on #100
@equanz Any tentative dates for the version 1.2.0?

[2020-07-06 01:07] nkurihar commented on #100
@psr323 We are planning to release 1.2.0 in July.

[2020-07-06 09:51] s-yoshika commented on #98
@dionjansen Thank you for your response! Is this function already ready? And if so, Could you tell me when it is released?

[2020-07-06 10:40] dionjansen commented on #98
@s-yoshika if by ready you mean published under a new version of this lib then no, the next version `1.2.0` is yet to be released. You can of course include the latest commit on master in your project, before the official release is ready: https://github.com/apache/pulsar-client-node/commit/a47dd211dcdd9f48cc242dc111097d8e5bc42fac

[2020-07-07 00:32] s-yoshika commented on #98
@dionjansen Thanks! I'll wait for it to be released.

[2020-07-07 09:35] psr323 commented on #94
Hi @wolfstudy is this feature available for use now?

[2020-07-07 09:55] massakam commented on #94
@psr323 No. `pulsar-client-cpp` has been modified, but it has not been released yet. The code in this repository will need to be modified after `pulsar-client-cpp` is released, so it will take some time before this feature is available.

[2020-07-13 21:15] dludwig commented on #93
second this

[2020-07-13 21:42] dludwig opened #104 "producer times out and closes"
Hello

My use case is for a long running system that produces messages by event triggers (think something like a web server that produces data for pulsar on HTTP events)

I find this works ok for a brief period of time, but then the producer times out and subsequent events then fail to get sent to pulsar

my work around is to open the connection, use the producer to send the data to pulsar, then c

[2020-07-14 01:33] sijie commented on #104
@dludwig Timeout can happen if the maxPendingMessages is set to be too small. You can consider increasing the `maxPendingMessages` value when creating a producer.

[2020-07-14 14:25] alphara opened #105 "Implement `consumer.unsubscribe()`"
The `consumer.close()` method closes consumer connection to Pulsar but does not unsubscribe from the topic.

The `unsubscribe()` method has been implemented in the Python pulsar-client [here](https://pulsar.apache.org/api/python/2.6.0-SNAPSHOT/#pulsar.Consumer.unsubscribe).

We want request implementing a `consumber.unsubscribe()` feature in the Node.js client.

[2020-07-15 02:02] cavanaug commented on #104
@sijie is this because of a scaling or problem at the broker not ack()ing in time??   Or is this configuration something that needs to be scaled up as the size/volume of data increases?

Im a little nervous to just start growing something like maxPendingMessages without understanding why the max is being reached?

[2020-07-15 04:24] sijie commented on #104
It can happen if the publish time increase (broker not ack in time). Also if the volume of traffic produced by your client increases, you need to consider increasing the setting as well.  Since I don't have any visibility in your environment, it is hard for me to tell. I'd recommend you check your cluster to understand if there are any changes related to publishing latency or traffic patterns.

[2020-08-01 19:52] sheremet commented on #79
@sijie If node client will be implemented with Windows support like many libs based on C++ addon, it will help windows users develop applications locally, not using any VM for supporting Debian/Ubuntu lib for building node client locally.
Also will be good to have support for `alpine` Linux for reducing size of the Docker image. Currently overhead is 250Mb comparing with `alpine` images.

[2020-08-03 04:58] #17 closed

[2020-08-10 15:20] KannarFr opened #110 "Authentication does not support plugins"
On https://github.com/apache/pulsar-client-node/blob/master/src/Authentication.cc#L52

We check if authentication is supported but we should authorize plugins as https://github.com/CleverCloud/biscuit-pulsar,

I wrote AuthenticationBiscuit class:

[code]

That I'm using this way:

[code]

But got the following error:

[code]

Can we drop the checks to authorize auth/authz plugins as biscuit?

[2020-08-12 08:28] sijie commented on #110
@KannarFr Are you interested in sending a pull request?

[2020-09-08 16:10] #110 closed

[2020-09-11 06:56] savearray2 opened #119 "Unhandled Promise Rejection On Failed createProducer"
When creating a producer using a client URL that is intentionally incorrect via the following:
[code]

I get the following unhandled promise rejection warning:
[code]

Upon further inspection of the code the error originates from the following line:
https://github.com/apache/pulsar-client-node/blob/eaba0dcd9b8e04fe7c23feb0c0ec6e424a817f64/src/Consumer.cc#L134

Where ```ConsumerNewInstanceWorker```

[2020-09-11 07:41] savearray2 commented on #119
Well, this is strange.
I cloned the project and created a simple js file to reproduce the error:
[code]

This leads to the following output:
[code]

This still seems to be related to the comment in the NAPI repository mentioned above. According to the comment, a change needed to be made so that exceptions do not occur on exit.

I'd like to get some input from you guys on how to proceed.

[2020-09-11 09:17] savearray2 commented on #119
Okay, I probably should have done some more research (and gotten more sleep) before posting this. Sorry about this mess.
The problem with the unhandled promise rejection **is not** with the pulsar library. I had a typo in my testing framework code.

The second problem with the segmentation fault happens when the client is not closed properly before exit. It may be desirable to include code in the

[2020-09-14 10:01] keyiis opened #122 "npm install fails on win10"
I want inatall on win10 x64,but failed
`PS D:\code\server> npm install pulsar-client -S

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://pulsar.apache.org/docs/en/client-libraries-cpp/libpulsar-v1.2.0-node-v72-win32-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for pulsar-client@1.2.0 and node@12.14.0 (node-v72 ABI, unkn

[2020-09-15 02:20] sijie commented on #119
@savearray2 thank you for your explanation! Close this issue since it seems that the problem has been resolved.

[2020-09-15 02:20] #119 closed

[2020-09-17 05:38] keyiis commented on #122
Do you have a plan to solve the problem？

[2020-09-18 05:07] massakam commented on #122
The Node.js client library does not support Windows. At least we haven't verified that it can be installed and built on Windows.

This npm package depends on Pulsar C++ client library, so the important thing is whether the C++ client works on Windows. According to Pulsar's official documentation, the C++ client only supports Linux and MacOS.
https://pulsar.apache.org/docs/en/client-libraries-cpp/

[2020-09-23 14:15] alanhoff opened #124 "Allow BigInt/Buffer to be used as initialSequenceId and/or sequenceId"
Hello there,

Right now the producer's sequence ID is limited to 4 bytes here:

- https://github.com/apache/pulsar-client-node/blob/master/src/ProducerConfig.cc#L76
- https://github.com/apache/pulsar-client-node/blob/master/src/Message.cc#L174

However we could allow 8 bytes integers if we allow producer/message to receive a [BigInt](https://nodejs.org/api/n-api.html#n_api_napi_get_value_bigint_in

[2020-09-24 13:29] iravishah commented on #105
Hi @sijie

When this support will be available as a part of NPM?

[2020-09-27 09:12] go2smartphone commented on #55
@swanav   do you have any  update on this, I am going to use for tuya as well..thanks

[2020-09-27 10:52] swanav commented on #55
No, @go2smartphone. We dropped this approach altogether. Went ahead with the Java SDK.

[2020-10-06 08:01] dionjansen opened #129 "Metadata properties incompatible with pulsar-dotnet"
When producing messages with message properties from the node client producer and consuming them with the [pulsar-dotpulsar](https://github.com/apache/pulsar-dotpulsar) consumer it seems that the properties are mixed lost inside the message body.

#### Reproduce:

1. Modify the [producer.js](https://github.com/apache/pulsar-client-node/blob/master/examples/producer.js) to include message propertie

[2020-10-06 08:14] sijie commented on #129
@nkurihar Can you help with this issue?

[2020-10-09 04:16] massakam commented on #129
@dionjansen @sijie
Apparently, no matter what language the producer is written in, pulsar-dotpulsar doesn't seem to be able to get the properties of the received message when batching is enabled.

When I sent a message using the Node.js producer with batching disabled, the pulsar-dotpulsar consumer was able to handle it successfully.

To disable batching:
[code]

I suspect that pulsar-dotpulsar ma

[2020-10-09 04:25] massakam commented on #129
A description of "batching" in Pulsar is here:
https://pulsar.apache.org/docs/en/2.6.1/concepts-messaging/#batching

[2020-10-09 04:26] sijie commented on #129
@massakam that was what I suspected and suggested in the slack channel.

[2020-10-09 04:40] massakam commented on #129
Oh, I haven't joined `#dev-dotpulsar` yet.

[2020-10-11 14:00] dionjansen commented on #129
@massakam that's definitely it. Turning batching off for both python and node clients works for the [pulsar-dotpulsar](https://github.com/apache/pulsar-dotpulsar) consumer, yet turning it on (for either producer) exposes the issue. It must be on the dotpulsar side then. I created an issue #69.

I believe this one can be closed then, thanks for the help 👍 .

[2020-10-13 02:07] nkurihar commented on #129
https://github.com/apache/pulsar-dotpulsar/issues/61

[2020-10-13 02:08] #129 closed

[2020-10-20 10:51] steelone opened #131 "more then 3 topics overload async operations"
PULSAR blocks async operations as readdir, readFile, http.get, etc. on NodeJS

Pulsar client.subscribe with 4 topics was implemented [here](https://github.com/steelone/node_pulsar/tree/master)

[2020-10-22 18:44] sijie commented on #131
@nkurihar @maskit Can anyone of you take a look at this issue?

[2020-10-26 06:31] cimura commented on #131
@steelone
i have not succeeded to run you example yet, but the issue may be caused by the default number of worker threads being 4.
can you please try setting an environment variable `UV_THREADPOOL_SIZE` to a bigger number?

[2020-10-26 06:36] cimura commented on #131
hello @sijie, i'm a member of @nkurihar's team. i'll have a look.

[2020-10-27 17:28] dlecocq opened #132 "`AlreadyClosed` exception when using `topicsPattern`"
We are unable to cleanly close our consumer when using `topicsPattern`:

[code]

That's the result from running this code snippet (with the appropriate docker container running):

[code]

We've tried this with node versions 10.16.3, 12.16.0, and 14.11.0 and pulsar 2.6.1.

I _suspect_ that the root cause is that it _appears_ that the consumer implementation in this library makes the assumption that

[2020-10-29 09:06] cimura commented on #132
it seems that this exception doesn't occur with persistent topics ... 🤔

[2020-10-31 17:12] steelone commented on #131
@cimura what exactly the obstacle for you to run my test project? It starts well on my all computers.

[2020-10-31 17:13] steelone commented on #131
@cimura and I tested UV_THREADPOOL_SIZE. It doesn't help

[2020-10-31 17:22] steelone commented on #131
![image](https://user-images.githubusercontent.com/30436019/97785373-b08d1a80-1bb5-11eb-86ed-5077584ab545.png)
it is master branch. where you see that blocked readdir like an example.
I think it is a serious problem which you should fix as soon as possible. We even decided to use workers for avoiding this problem.

[2020-11-02 06:22] cimura commented on #131
@steelone
i succeeded to run you example and reproduce the problem (it was due to not your example but me environment).
doesn't it make it work to use `listener` instead of `while` loop?
like:
[code]

[2020-11-04 02:40] cimura commented on #132
so far i've checked that
- persistent `topicsPattern` works
- `topic` and `topics` work
- values of other members aren't related
- it is not related whether or not RE is valid.
- an equivalent C++ client code works

i'll continue investigation.

[2020-11-13 02:26] coryvirok opened #133 "How to clean up consumers/producers on SIGINT"
First off, thanks for Pulsar and all of these client libs! I'm excited to vet Pulsar for my company and see if it solves some of Kafka's shortcomings.

I have a gRPC service that implements a server-streaming RPC. This RPC reads from a Pulsar topic and streams the data from the topic to the gRPC client.

This all works well until I try and gracefully shut down the gRPC server. I'm finding that the

[2020-11-20 02:51] cimura commented on #132
`AlreadyClosed` occurs when there're no matching topics for `topicsPattern`.
in such case [`consumers_`](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc#L382) become empty and `closeAsync` passes `ResultAlreadyClosed` to the callback.
it may be because with `topicsPattern` a consumer can't dynamically create topics (since there is no means to generate

[2020-11-24 21:41] austince commented on #80
I think this can be closed, but looking for a tracker ticket for 1.3.0 -- is that listed somewhere or should I create a new ticket?

[2020-11-24 23:49] hrsakai commented on #80
Yes, I close this now.
A tracker ticket for 1.3.0 isn't listed and no new ticket required. We will release 1.3.0 in the coming weeks.

Thanks.

[2020-11-24 23:49] #80 closed

[2020-11-24 23:58] hrsakai commented on #100
1.2.0 was already released and usage of listener was resolved, so I close.

[2020-11-24 23:58] #100 closed

[2020-11-25 00:21] hrsakai commented on #12
Closed by https://github.com/apache/pulsar-client-node/pull/125 and https://github.com/apache/pulsar-client-node/pull/130 .

[2020-11-25 00:21] #12 closed

[2020-11-25 00:22] hrsakai commented on #11
Closed by https://github.com/apache/pulsar-client-node/pull/121

[2020-11-25 00:22] #11 closed

[2020-11-25 07:14] magrain commented on #133
Let me confirm the point of issue:

1. You want to avoid using
* receive with timeout
* error message based exception handling

2. You hope
* "async" receive
* event-driven codes like consumer.on('data', ...

Is my understanding right?

If so, it looks that your understanding and codes are right.
Unfortunately, pulsar-client-node doesn't support event-based pattern you mentioned and we don't have

[2020-11-25 10:33] munir131 opened #134 "Getting error while installing"
I am getting below error while, I am trying to install this package on Alpine

[code]

[2020-11-25 17:25] coryvirok commented on #133
Correct. Thanks for clarifying the roadmap. I'll give it some thought to see if I can think of any ways to make this more idiomatic without having to change the C++ core.

My current workaround is to pass in an EventEmitter to the function that executes the `receive(timeout)` loop and to check if it has fired before continuing the loop.

E.g.
[code]

[2020-11-27 09:39] magrain commented on #133
Thank you.
Please let me know if you have any better ideas.

[2020-11-30 08:11] munir131 commented on #122
@massakam It is even failing on Linux too - https://github.com/streamnative/pulsar-client-node/issues/81

[2020-12-01 12:50] tuteng commented on #4
This is fixed #51

[2020-12-01 12:50] #4 closed

[2020-12-02 17:59] #133 closed

[2020-12-03 02:55] equanz commented on #134
It seems that your app can't resolve pulsar C++ library. pulsar Node.js client requires pulsar C++ library (see [here](https://github.com/apache/pulsar-client-node#requirements)).
If you don't install pulsar C++ library now, please install it before installing pulsar Node.js client.

Currently official pulsar C++ prebuilt packages are served through DEV, RPM, and Homebrew. Therefore, if you want t

[2020-12-03 09:16] sijie commented on #134
@munir131 Can you check this comment https://github.com/apache/pulsar-client-node/issues/134#issuecomment-737630822 ?

[2020-12-03 09:18] munir131 commented on #134
@sijie Sure. I will try that.

[2020-12-08 21:40] rkaw92 commented on #22
Hi! I'm running into some issues due to the typings in DefinitelyTyped being out of date (namely, `log` missing, and `listener`-based consumer unrecognized in TS). Wouldn't it be easier to maintain the type definitions inside this source repository, and always ship them together? It seems like this would make keeping things in sync easier.

[2020-12-10 04:46] ilaipi opened #135 "send delay message, but deliver immediately"
pulsar version: 2.7.0, run in docker by docker-compose
client version: 1.2.0

OS: wsl2 ubuntu

[code]

when I call send(), the consumer console print
[code]
immediately.

Is this right?

[2020-12-17 01:10] bwalendz commented on #22
@rkaw92 You can submit a pull request to the definitely typings repo if you find anything outdated and it'll get merged.

[2020-12-17 04:58] hrsakai commented on #135
v1.2.0 doesn't include this feature yet.
We will release v1.3.0 in a few months. Please wait for it.

[2020-12-18 19:18] addisonj opened #136 "Support message encryption/decryption"
Currently, the nodeJS client does not support message encryption/decryption.

This features is supported in the C++ bindings, so it seems like we only would need to expose the relevant methods as part of the underlying producer config.

[2020-12-23 08:44] shustsud commented on #22
@rkaw92
Sent PR to DefinitelyTyped(pulsar-client).
 https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50229

If the PR was merged, I think you can set message listener for consumer.

[2020-12-25 06:07] #94 closed

[2021-01-20 21:37] tschmidt64-SC commented on #134
I'm getting this same issue on MacOS (Big Sur 11.1).

[code]

[2021-01-26 02:30] hrsakai commented on #134
@tschmidt64-SC
I couldn't be reproduced on MacOS(Mojave 10.14.6).

Could you try to upgrade pulsar-client-node to v1.2.0?
If not resolved, this issue seems to be related to node-gyp.
Please see node-gyp documents, issues or etc.
https://github.com/nodejs/node-gyp
https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md

[2021-01-29 09:45] zhengdai opened #139 "fatal error: pulsar/c/message.h: No such file or directory"
I'm using Ubuntu 18.04.4，and I install Pulsar C++ client by apt install ./apache-pulsar-client*.deb, and  the file libpulsar.so.2.7.0 and libpulsarnossl.so.2.7.0 are in the /usr/lib path. but when I use npm to install pulsar-client package, I still got the following error:
`
In file included from ../src/addon.cc:20:0:
../src/Message.h:24:10: fatal error: pulsar/c/message.h: No such file or directo

[2021-02-01 09:00] #139 closed

[2021-02-08 18:43] tschmidt64-SC commented on #134
I'm on 1.2.1 currently. I'll look into node-gyp and see if I can get it resolved that direction. Will report back after.

[2021-02-08 18:54] tschmidt64-SC commented on #134
Does this section of the error log ring any bells?:
[code]

[2021-02-09 01:14] hrsakai commented on #134
No, please ignore that log.
We haven't uploaded libpulsar.node to the remote server.

[2021-02-09 03:03] massakam commented on #22
@bwalendz @rkaw92
I have added the type definitions to this repository: https://github.com/apache/pulsar-client-node/pull/140

[2021-02-21 07:23] lxcid commented on #87
This is still an issue though. :(

[2021-02-22 17:20] iamrmin commented on #93
Client in-general. also an option to bind event in case of connection interruption.

[2021-02-22 17:23] iamrmin opened #141 "Event listener if client disconnect or connection interruption"
It would be great to have a callback at Client level that trigger if connection break in-between.

[2021-02-25 03:02] massakam commented on #141
@iamrmin If the connection is disconnected from the server side, the client will automatically reconnect and the application should not need to detect it. Could you tell me why you need such a callback?

[2021-02-25 05:45] iamrmin commented on #141
@massakam ok but what if it takes hours and days to reconnect. Though I am not sure what is a timeout my concern here is healthcheck. It somehow should be know that pulsar is down and i am looking for any kind of callback.

[2021-02-26 05:19] massakam commented on #141
@iamrmin On the producer side, we can notice that the connection has been lost because message sending times out (the duration can be changed with the `sendTimeoutMs` property) and an exception is thrown. On the consumer side, there is currently no way to notice that the connection has been lost except by looking at the error log.

The Node.js client is a wrapper of Pulsar C++ client and the C++ c

[2021-02-26 05:22] iamrmin commented on #141
@massakam I see. Thank you :)

[2021-03-01 05:54] iradul opened #142 "Cumulative acknowledgement for multi-topic subscription"
This is most likely upstream issue but cumulative acknowledgement doesn't seem to be working when subscribed to multiple topics.

[2021-03-05 02:28] equanz commented on #142
I think so too. This is C++ library issue.
Currently, C++ library doesn't support Cumulative Ack for multi topics consumer.
https://github.com/apache/pulsar/blob/v2.7.0/pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc#L574-L576
https://github.com/apache/pulsar/pull/6796

[2021-03-05 15:11] bulolo commented on #134
[code]

[2021-03-05 15:19] bulolo commented on #87
[code]

[2021-03-05 15:21] bulolo commented on #87
[code]

[2021-03-06 14:42] bulolo commented on #134
I switch Python 3 to 2 it on now

[2021-03-26 06:57] deekshith-elear opened #148 "Appropriate authentication method for Tuya cloud"
Hi,
Tuya cloud is providing accesskey and accessId to authenicate to their pulsar message queue. What is the appropriate authentication between `AuthenticationTls, AuthenticationAthenz, AuthenticationToken`.
Can anyone help me to achieve this.
Thanks.

[2021-03-29 19:18] simonszalai commented on #148
I would also love to know this! Didn't find a way to authenticate so far, except using the Java SDK

[2021-03-30 12:05] munir131 commented on #134
No it is not working. In that command node-gyp is looking for `--module=/app/node_modules/pulsar-client/build/Release/libpulsar.node` which is not there.

[2021-03-30 13:07] tuteng commented on #148
It seems similar to oauth2 http://pulsar.apache.org/docs/en/security-oauth2/, cpp already supports oauth2 https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/lib/auth authentication, the node client is a wrapper around cpp, but the node client hasn't added this feature

[2021-03-30 14:06] munir131 commented on #134
I am closing this issue. I find out manual way to install deb files on arch linux. Also found that dev cpp is missing for 2.7.1 https://archive.apache.org/dist/pulsar/pulsar-2.7.1/DEB/

[2021-03-30 14:06] #134 closed

[2021-04-03 18:33] koshkarov commented on #122
This was the biggest reason why we decided not to use Apache Pulsar and favored Apache Kafka, as our whole team uses Windows laptops as dev machines.

[2021-04-05 06:30] k2la commented on #148
I looked at the following Tuya's codes.
It appears that clients connect to pulsar cluster with its own authentication method.
- https://github.com/TuyaInc/TuyaDemo/blob/084582bd39c3f6b6f8ee6976da996e694ee40f25/open-mq-sdk/src/main/java/com/tuya/open/sdk/mq/M qAuthenticationDataProvider.java#L11-L19
- https://github.com/TuyaInc/tuya_pulsar_sdk_go/blob/46c1e459e32e2f9ebd76bf39bebe50a904b17c29/auth.g

[2021-04-17 14:53] rkaw92 opened #152 "Interruptible Reader.readNext()?"
Hi,
I have a use case where I expose a Pulsar topic over HTTP via Server-Sent Events. Basically, when a client connects over HTTP, I do this:
[code]

Then I use a loop that reads messages as they come and sends them to the client:
[code]

Additionally, the server detects the `close` event on the HTTP requests, closes the reader and prevents further iteration:
[code]

(`request.raw` and `reply.raw`

[2021-04-22 08:53] ludusrusso commented on #152
I've a similar need :D

[2021-04-27 02:22] hrsakai commented on #152
I'm sorry, there is no way right now.

It seems that we need to modify pulsar C++ client used by pulsar nodejs client, so I think it will take some time.
However we will consider fixing it.

[2021-05-07 02:12] k2la commented on #152
@rkaw92
Is it possible to solve this problem by implementing ReaderListener, which is implemented in C++ Client and C APIs, in Node.js Client?
By using ReaderListener, asynchronous read is possible, and read will also stop when close is done.

C++: https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-client-cpp/lib/ReaderConfiguration.cc#L43-L47
C API: https://gith

[2021-05-07 02:46] merlimat commented on #152
One option is to do what we used to do in Python wrapper (before https://github.com/apache/pulsar/pull/5706 was applied). Use a 100millis timeout on the receive to check for interrupted status.

That won't be possible when receiveQueueSize=0 but it will work in all the other cases.

[2021-05-08 07:55] ericshao commented on #135
@hrsakai does this fixed in v1.3.0?

[2021-05-10 01:39] hrsakai commented on #135
@ericshao
Yes, v1.3.0 supports for delayed delivery.

[2021-05-16 19:56] itsezc commented on #122
This issue also exists on MacOS Big Sur, Intel.

[2021-05-18 07:42] #135 closed

[2021-05-18 07:44] hrsakai commented on #135
@ilaipi
 We released v1.3.0, so closed this issue.

[2021-06-07 14:03] zymap opened #161 "Looks like the pulsar-client-node can not run with the current pulsar master code"
**Motivation**

Install the pulsar-client-node with latest pulsar-client-cpp failed.
error logs:

[code]

---

We should have a CI to run the tests with the latest pulsar code to check the compatibility./

[2021-06-10 06:00] k2la commented on #161
From your log, it looks like pulsar-client-cpp is not installed.
Please try again after installing pulsar-client-cpp.

Also, please tell us the system configuration (OS, client version).

We will consider having it.

[2021-06-16 20:58] alphara commented on #105
Have you implemented the unsubscribe method in node.js client?

[2021-07-07 01:56] nkurihar commented on #93
Fixed: https://github.com/apache/pulsar-client-node/pull/162

[2021-07-07 01:57] #93 closed

[2021-07-21 14:27] ilaipi opened #164 "Can't install on buster"
steps:

[code]

[2021-07-24 02:23] ilaipi commented on #164
I didn't do anything, but it's ok now...

[2021-07-24 02:23] #164 closed

[2021-08-04 05:40] RobertLowe commented on #139
I ran into this, and I looked, at how homebrew installs it. Looks like I was missing:

[code]

https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/libpulsar.rb#L35-L36

I was only doing `make` before.

[2021-08-04 08:42] equanz commented on #105
Yes. The unsubscribe method was added from [v1.3.0](https://github.com/apache/pulsar-client-node/releases/tag/v1.3.0).

[2021-09-01 12:59] alphara opened #171 "Implement native Node.js pulsar-client"
We face some issues with the Pulsar Node.js client library, based on the C++ client library:

• We have a service that creates pulsar producers for 3 streams, consumers for 3 streams. It receives audio data from Socket.io/WebSockets and streams it to Pulsar for processing by the other services. We observed that when the service uses consumers, the `createProducer()` method often hangs without retu

[2021-09-08 09:16] bulolo opened #174 "how to enableRetry?"
i want to retry if the message is not ack or have error.
i find enableRetry in java version
but i did not find in node
is there any idea to retry msg

[2021-09-09 06:16] k2la commented on #171
@alphara

We don't have no plans to implement native Node.js client at the moment.
There is a third party native Node.js Client called pulsar-flex.
https://github.com/ayeo-flex-org/pulsar-flex

[2021-09-09 16:42] alphara commented on #171
@k2la, thank you for sharing this project! Have a great day!

[2021-09-14 16:12] Sraleik commented on #99
Any news on this ? I have the exact same Problem :(

[2021-09-15 02:33] #171 closed

[2021-09-17 04:43] k2la commented on #174
Currently, a feature like `reconsumeLater` is not implemented in Node.js client.
Also, such a feature is not implemented in the C++ client.

Once such a feature becomes available in the C++ client, it will be possible to implement it in the Node.js client as well.

[2021-09-20 21:00] osbornm commented on #122
Can we get an update on this from a maintainer? With the node client ever work on windows? This would be a show stopper for us :(

[2021-09-21 20:49] sijie commented on #122
@osbornm I believe we are able to build the nodejs client after this PR: https://github.com/apache/pulsar-client-node/pull/169

Have you tried to build the client from the latest master? Or are you looking for a released binary for Windows?

[2021-09-21 21:26] osbornm commented on #122
@sijie What I want to do is be able to go into our node API project and `npm install pulsar-client`. So yes I would want released binaries for Windows.

I'd like to have a clean experience, clone > npm install > npm start,  for our developers (both win and macOS).

[2021-09-22 02:40] gaoran10 commented on #122
@osbornm Could you build the NodeJS client follow this README file https://github.com/apache/pulsar-client-node. I think the key point is to build the CPP client first.

[2021-09-22 14:43] osbornm commented on #122
@gaoran10 I can and have got the node client to build local after pulling down the c++ library building and setting the ENV.

This is tangential to the problem I have though. I want to be able to go into my own node project, say an API I am building, install the node client via npm ([`npm install pulsar-client`](https://pulsar.apache.org/docs/en/next/client-libraries-node/#installation-using-npm))

[2021-09-28 10:12] massakam commented on #122
Unfortunately, there are no plans to publish pre-built C++ binaries at this time. Building and publishing binaries for different operating systems, NODE_MODULE_VERSIONs, and instruction set architectures can be costly.

[2021-09-30 11:36] arihantdaga commented on #161
I am facing the same. I installed pulsar cpp client in ubuntu following the instructions on https://pulsar.apache.org/docs/en/client-libraries-cpp/, using the deb package, it has also created libpulsar and libpulsar.so in my /usr/lib folder.
But i don't know where these files should be found - '<pulsar/c/message.h>'

[2021-10-07 04:49] cimura commented on #161
let me confirm, have you installed `apache-pulsar-client-dev.deb`?

[2021-11-16 12:22] shaunek commented on #105
Can this issue be closed?

[2021-11-17 04:29] nkurihar commented on #105
Close this issue since unsubscribe method was implemented from v1.3.0.

[2021-11-17 04:30] #105 closed

[2021-11-27 15:02] lipeining opened #181 "A bug about MessageListenerProxy, got a nullptr of data->consumer(Consumer.cc#64)"
os: Ubuntu 16.04.7 LTS
nodejs: v14.17.0
pulsar-client: 1.3.0
pulsar c++ client: 2.7.1
framework: midway.js

on our web server written with nodejs, when the server start, it will use pulsar-client(we clone a copy of branch-1.3) connect to our pulsar service and subscribe from some topics. but, with some bug, the server crash down after subscribe on a pulsar topic.would you please take sometime to f

[2021-12-15 00:26] hrsakai commented on #136
Fixed by https://github.com/apache/pulsar-client-node/pull/138

[2021-12-15 00:26] #136 closed

[2021-12-15 00:31] hrsakai commented on #98
1.2.0` has already been released, so I closed this issue.

[2021-12-15 00:31] #98 closed

[2021-12-15 00:52] hrsakai commented on #62
listener has already been supported, so I closed this issue.

[2021-12-15 00:52] #62 closed

[2021-12-20 19:45] tschmidt64-SC commented on #134
I'm still having this issue to this day. Tried building in a docker container, same issue there.

[2021-12-21 01:08] Matt-Esch commented on #99
Can confirm this is an issue, occurs when upgrading to pulsar > 2.6.0

[2021-12-23 04:04] izumo27 commented on #99
@Matt-Esch What kind of environment did you use? Can you tell us the details of the issue?

[2021-12-23 10:55] Matt-Esch commented on #99
I am attempting an upgrade to node 16 which means fast-forwarding the version of pulsar-client-node we are using from 1.2.0 to 1.4.1, which comes with the minimum pulsar version requirement of 2.8.0. We find that upgrading to pulsar-client-node@v1.4.1 with pulsar 2.8.0 causes this handshake fail issue. We also find that remaining on pulsar-client-node@v1.2.0 and upgrading past pulsar >= 2.7.0 also

[2021-12-24 11:56] Sraleik commented on #99
It is now working for me with this setup:

node version:  16.13.0
pulsar-client-node: 1.5.0
apache-pulsar-client(library C++): 2.9.1

with apache-pulsar-client: 2.8.0 it was not working

[2021-12-24 13:49] Matt-Esch commented on #99
Trying with v2.9.1 as per @Sraleik suggestion

[code]

[2021-12-31 13:28] zhaoyajun2009 opened #188 "When installing the Pulsar Node.js client, the operation steps need to be optimized"
**In step “Prerequisites”, in addition to the c++ library, you need to install gcc and g++ dependency, otherwise the following problems will occur in step “Install pulsar-client in your project” later：**

[ec2-user@ip-172-31-0-126 ~]$ npm install pulsar-client
npm ERR! code 1
npm ERR! path /home/ec2-user/node_modules/pulsar-client
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install

[2022-01-06 00:17] Hoskins355 commented on #188
I am facing the same. @zhaoyajun2009 did you get it working?

[2022-01-06 08:53] zhaoyajun2009 commented on #188
you need to install gcc and g++ dependency

[2022-01-06 08:59] zhaoyajun2009 commented on #188
you need to install gcc and g++ dependency with the command of ‘yum install’。

[2022-01-06 13:37] Hoskins355 commented on #188
I am trying to install with Docker https://gist.github.com/Hoskins355/c36c9d4c1c69e55427d5ec58d44a2009 using base image "apachepulsar/pulsar-build:centos-7" which should have all dependencies. I tried to add gcc and g++ as well but I am still getting the same error.

[2022-01-07 01:32] zhaoyajun2009 commented on #188
I installed the dependency by install RPM package,(https://pulsar.apache.org/docs/en/client-libraries-cpp/#compilation),
The success result is the file as below is created in /usr/lib ：
lrwxrwxrwx  1 root root       18 12月 30 22:21 libpulsar.so -> libpulsar.so.2.9.1
lrwxrwxrwx  1 root root       23 12月 30 22:21 libpulsarnossl.so -> libpulsarnossl.so.2.9.1

Then I installed the gcc and g++ by yum a

[2022-01-07 16:24] Hoskins355 commented on #188
I got Libpulsar.so in usr/lib
<img width="283" alt="Screen Shot 2022-01-07 at 10 07 24 AM" src="https://user-images.githubusercontent.com/3084440/148573912-1e9bfce4-68e4-4d7a-9f88-edccd5d7e527.png">
and I copied that directory into the docker container and changed the permission on it.
<img width="266" alt="Screen Shot 2022-01-07 at 10 08 02 AM" src="https://user-images.githubusercontent.com/30844

[2022-01-07 19:16] Hoskins355 commented on #188
@ zhaoyajun2009, Thanks I got it working.

[2022-01-13 19:44] csauvage opened #189 "Fail to build `pulsar-client` on M1"
Hi there.

I'm facing the same issues as #46 and #87 trying to install (and build) `pulsar-client` on M1 Pro.

- [x] OS : MacOS 12.0.1 (arch. M1 Pro - 2021)
- [x] Node :  v16.13.2
- [x] NPM : 8.1.2
- [x] Node-gyp : node-gyp@7.1.0
- [x] Python Version : 2.7.18
- [x] libpulsar: 2.9.1_1

## Error

[code]

## What did I try

- [x] Building libpulsar myself : Python Boost not found and impossible to in

[2022-01-17 16:52] romainbrancourt commented on #189
@csauvage
Run this before running npm install, this may fix your problem :D
[code]
or
[code]

[2022-01-25 07:22] Matt-Esch opened #191 "Segault with pulsar 2.9.1 and node 16.13.2"
Attempting to connect to a local standalone pulsar container using token based auth, pulsar-client-node installed at 1.5.0, local pulsar installed at 2.9.1 and node 16.13.2 / npm 8.3.0.

[code]

[2022-01-25 07:23] Matt-Esch commented on #99
Segfault issue tracked here: https://github.com/apache/pulsar-client-node/issues/191

[2022-01-28 04:26] zhaoyajun2009 commented on #188
fix it as follow:
https://github.com/apache/pulsar/pull/13999

[2022-01-30 02:13] Matt-Esch commented on #191
This is caused by a race condition. Currently nothing prevents you from closing the client with pending async operations in flight. Closing the client ends up killing all of the boost::asio executors. This means we see async workers like ProducerNewInstanceWorker calling into pulsar_client_create_producer on a client that has either already been closed or is about to be closed. By the time it gets

[2022-02-04 08:14] Matt-Esch opened #192 "Producer send order with async workers"
The client implementation breaks the expected node semantics due to the internal use of async workers.

Essentially, sending 3 messages followed by awaiting flush should flush all 3 messages in order.

[code]

At the moment the send commands invoke in no specific order as they are all executed in an async worker. This breaks the order and what gets flushed in the flush call is non-deterministic.

[2022-02-08 08:49] massakam commented on #191
@Matt-Esch Could you provide the code to reproduce this issue? And how often does this issue occur?

[2022-02-09 08:57] csauvage commented on #189
The first one worked perfectly, not the second one. Thx !

[2022-02-09 08:57] #189 closed

[2022-02-14 16:25] haphut opened #193 "Consider making "type" optional for AuthenticationOauth2"
The C++ client does not seem to use the property `type`. Yet [it has been marked as required](https://github.com/apache/pulsar-client-node/blob/f696d2fd958b702122ca7a21f84642ea855ec25d/index.d.ts#L180). Please verify whether it is actually required and make it optional if not.

Thanks a bunch for your work on the Node.js client!

[2022-02-22 04:09] #188 closed

[2022-02-22 04:11] nkurihar commented on #188
Thanks for fixing the document 👍

[2022-02-23 07:33] larshp opened #195 "Documentation for ClientConfig parameters?"
Hi,
There are multiple parameter settings for the ClientConfig,
https://github.com/apache/pulsar-client-node/blob/d2c0d1e374f8e9f25934bd679436da0872b6bc8e/index.d.ts#L25-L33

Is the documentation for these parameters available somewhere? Ideally I'd suggest adding some comments directly in the typescript definition, so users of the library can see some documentation while developing.

[2022-02-24 10:52] Matt-Esch commented on #191
It's quite trivial to reproduce if you queue up some operations on a producer and close the client immediately afterwards.

[2022-02-26 12:21] Matt-Esch commented on #195
I suspect this overlaps with pulsar-client-cpp, I didn't find docs for that but there is an equivalent overlap with the java client - https://pulsar.apache.org/api/client/2.10.0-SNAPSHOT/org/apache/pulsar/client/api/ClientBuilder.html

[2022-03-01 10:50] massakam commented on #191
@Matt-Esch It would be helpful if you could share the sample code for reproduction.

[2022-03-03 09:33] equanz commented on #195
@larshp
Did you see the official documentation? https://pulsar.apache.org/docs/en/client-libraries-node/#client-configuration
It is not for the type definition(index.d.ts). However, it is most likely useful.

[2022-03-03 09:48] larshp commented on #195
@equanz thanks, that helps

but as a user, how do I find that documentation? I lookup the npm package on https://www.npmjs.com/package/pulsar-client, check the git repository https://github.com/apache/pulsar-client-node, and I cannot find any links to the documentation linked above?

[2022-03-03 10:03] larshp opened #199 "Latest version is deprecated?"
Hi,
It looks like the latest version is set to deprecated? What does this mean exactly, will you be releasing a new version, or targeting to deprecate all versions?

https://www.npmjs.com/package/pulsar-client,
![image](https://user-images.githubusercontent.com/5888506/156542060-bd7d22dd-98b6-4786-a58e-301051e81c02.png)

[2022-03-03 10:06] equanz commented on #195
You're right! It would be better to add the link to this repository.

[2022-03-03 11:59] nkurihar commented on #199
A few days ago, some versions (1.5.2, 1.5.1, 1.4.3, ...) were accidentally uploaded to the repositry.
They are not verified beforhand and so we deprecated them to avoid users downloading.

(Ideally they should be removed completely from the repository.
However unfortunately, once uploaded it is not allowed to remove packages depended from at least one package...)

That's why the "latest" version i

[2022-03-03 12:01] larshp commented on #199
thanks for the clarification

suggest keeping this issue open until 1.6 is released, but feel free to close 😅

[2022-03-03 12:06] nkurihar commented on #199
Yes, let's keep this issue open until versions back to normal.

[2022-03-04 06:38] nkurihar commented on #199
We have tagged 1.5.0 as "latest".
https://www.npmjs.com/package/pulsar-client

Now versions have backed to normal (though deprecated versions are still remaining in the registy).

Please use NON-deprecated versions, i.e., followings at this time:

<img width="748" alt="versions" src="https://user-images.githubusercontent.com/22067228/156712224-ce3ce57c-58be-4309-82b4-8423ce8df7ff.png">

[2022-03-04 06:40] #199 closed

[2022-03-06 13:10] hassanzia32 opened #201 "Support for Dead Letter Queueus in Consumers?"
Does the nodeJS client currently support [dead letter queues](https://pulsar.apache.org/docs/en/concepts-messaging/#dead-letter-topic)?

[2022-03-09 04:09] nkurihar commented on #201
Unfortunately the node.js client doesn't support the dead letter topic for now.

[2022-03-09 07:20] hassanzia32 commented on #201
@nkurihar, thank you for confirming. Is there a timeline on when this would be added, if it exists?

Thanks for all your contributions to this client.

[2022-03-09 09:30] nkurihar commented on #201
No, unfortunately we have not decided the timeline to add this feature yet...

[2022-03-22 10:02] #181 closed

[2022-03-31 02:48] liutt1312 opened #206 "About pulsar-client-cpp cmake"
Please set them or make sure they are set and tested correctly in the CMake files:
GMOCK_INCLUDE_PATH
   used as include directory in directory /home/liutt/Downloads/pulsar/pulsar-client-cpp
   used as include directory in directory /home/liutt/Downloads/pulsar/pulsar-client-cpp
   used as include directory in directory /home/liutt/Downloads/pulsar/pulsar-client-cpp
   used as include directory in

[2022-03-31 02:49] #206 closed

[2022-03-31 02:54] liutt1312 opened #207 "About cmake pulsar-client-cpp"
clang-tidy found at /usr/bin/clang-tidy
clang-format not found
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
GMOCK_INCLUDE_PATH
   used as include directory in directory /home/liutt/Downloads/pulsar/pulsar-client-cpp

.......
-- Configuring incomplete, errors occurred!

[2022-04-02 15:13] jskorlol commented on #161
I have the same problem.
Unable to install from linux docker.
How can I solve this ?

[2022-04-02 16:31] jskorlol commented on #134
I'm also trying to install it inside a docker container, but it doesn't work.
Any solution ?

[2022-04-06 07:04] cjfff commented on #87
don't forget to do this step...

when I forget to run the step 2, I got the same issue...

![image](https://user-images.githubusercontent.com/20502762/161915162-f49960f7-7ad0-42f3-b9c7-b334bcdb199d.png)

[2022-04-07 06:14] kimula commented on #207
@liutt1312
it seems to be a problem with the C++ client rather than the Node.js client.
please re-create an issue here https://github.com/apache/pulsar .

[2022-04-08 08:00] nkurihar commented on #14
Now AsyncWorker is replaced with async functions: https://github.com/apache/pulsar-client-node/pull/200

[2022-04-08 08:00] #14 closed

[2022-04-28 10:57] psisoyev commented on #189
Had exactly the same issue with an Intel Mac. So it's not related to the M1 processor.
Fixed the commands above.

[2022-04-29 21:44] ken-browning opened #211 "Does Consumer::acknowledge use the network?"
According to my mental model, there must be some network activity involved in acknowledging a pulsar message as a consumer. I was surprised to find that the Consumer::acknowledge method does not return a promise. My code which handles application shutdown would want to `await` until the acknowledgement has been successfully sent before ending the process.

Should `acknowledge` be updated to return

[2022-04-29 21:59] ken-browning commented on #211
I see that it does return a promise (i think) https://github.com/apache/pulsar-client-node/blob/11f28a6dace21a248fdf7f6d9d3a4a1de524a020/src/Consumer.cc#L277

So I guess the typescript definitions needs to be updated

[2022-04-29 22:04] ken-browning commented on #211
This appears to be fixed in https://github.com/apache/pulsar-client-node/pull/200.

However, the negativeAcknowledge function still doesn't return a promise.

[2022-04-29 22:06] #211 closed

[2022-04-29 22:07] ken-browning opened #212 "Now that acknowledge returns a Promise, should negativeAcknowledge return a Promise too?"
The `acknowledge` method of the `Consumer` type was recently updated to return a `Promise`. Should the `negativeAcknowledge` method also return a `Promise`?

[2022-05-05 08:00] lluiscab opened #214 "Client configuration is missing the listenerName parameter"
Hi,

Would it be possible to expose the `listenerName` configuration param from the C++ client?

https://pulsar.apache.org/api/cpp/2.10.0-SNAPSHOT/classpulsar_1_1_client_configuration.html#a2b77a5eb371640f243524a0eed71bc08

[2022-05-06 17:53] Matt-Esch commented on #214
It doesn't appear to be exposed in the c api which is used by this module https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/c/c_ClientConfiguration.cc - I would expect something like `pulsar_client_configuration_set_listener_name`

I think we would do a lot better to not use the c api but that's a huge refactor.

[2022-05-06 17:55] Matt-Esch commented on #212
I would have made it return a promise if the underlying c api had an async callback, but it doesn't.

[2022-05-06 17:56] #192 closed

[2022-05-06 17:56] Matt-Esch commented on #192
Resolved with async functions.

[2022-05-09 02:11] Matt-Esch commented on #214
I'm not sure what your full use case is but you might want to look at https://github.com/ayeo-flex-org/pulsar-flex - I haven't looked at it properly yet because it doesn't seem complete but it might be easier to extend or complete enough for your use case.

I'm generally very dissatisfied with the c++ library let alone the node binding. I'm currently chasing down an issue with a race condition on

[2022-05-09 03:35] k2la commented on #161
@jskorlol
Installation instructions for rpm or debian have been added at https://github.com/apache/pulsar-client-node/pull/213.
Please see https://github.com/apache/pulsar-client-node#install-on-linux and try again.

[2022-05-09 03:36] k2la commented on #134
@jskorlol
Installation instructions for rpm or debian have been added at https://github.com/apache/pulsar-client-node/pull/213.
Please see https://github.com/apache/pulsar-client-node#install-on-linux and try again.

[2022-05-29 20:19] MoshePiamenta commented on #87
For me this is still not working. I've tried @cjfff 's advice and I still get an error. BTW this step does not show on the docs: https://pulsar.apache.org/docs/client-libraries-cpp/#macos

[2022-06-09 08:09] ibtesamlatif2997 commented on #97
Any update on this issue. I am facing the similar issue in docker

[2022-06-09 08:11] ibtesamlatif2997 opened #218 "Issue with node pre gyp - accessing wrong lib URL"
On installation of node module. I am getting this error

`node-pre-gyp WARN Tried to download(404): https://pulsar.apache.org/docs/en/client-libraries-cpp/libpulsar-v1.6.2-node-v83-linux-x64.tar.gz `

**I think the url is wrong. It is pointed to docs url instead of libraries**

[2022-06-16 08:59] nearzxide10 commented on #87
nodeJs version : 16.15.1
npm  version : 8.11.0
mac OS: 12.4 (M1 max)

 I installed the cpp client first and export PULSAR_CPP_DIR..  can't npm install too

[code]

[2022-06-16 22:28] tuteng commented on #87
It seems to be because libpulsar does not yet support the m1 architecture

[2022-06-17 01:41] nearzxide10 commented on #87
Thanks , but i see https://formulae.brew.sh/formula/libpulsar Apple Silicon support , I will use docker build my dev environment.

[2022-06-17 01:45] equanz commented on #87
@nearzxide10

It seems clang doesn't link the `pulsar` library yet.
Temporally, you set `LIBRARY_PATH` environment variable to the libpulsar.dylib path like below.

[code]

I think the root cause of this issue is below. I'll try to fix it.
https://github.com/apache/pulsar-client-node/blob/d8d24eb5f563869ba0028b8a1ae8646601252a93/binding.gyp#L105-L108

[2022-06-17 01:56] nearzxide10 commented on #87
Thanks, it work for me

[2022-06-17 14:25] rkaw92 opened #221 "Non-durable subscription"
Hi, I'm trying to create a consumer that uses a non-durable subscription, as described here: https://pulsar.apache.org/docs/2.7.0/concepts-messaging/#what-is-a-subscription-mode

However, I cannot find how to set the subscription mode in the Node.js. Am I missing something?

[2022-06-21 09:02] equanz commented on #87
I've fixed https://github.com/apache/pulsar-client-node/issues/87#issuecomment-1158384683 issue in https://github.com/apache/pulsar-client-node/pull/220 .

[2022-06-22 02:16] #87 closed

[2022-06-23 07:23] massakam commented on #221
Currently, the Node.js client does not support non-durable subscription. This is because there is no C API to specify the subscription mode.

[2022-06-24 01:09] nearzxide10 commented on #161
I

I have the same problem too ,
but my environment :
docker image : node:16.15.1 (debian)
platform : linux/arm64

my Dockerfile
[code]
error message
[code]

but at linux/amd64 is ok

reference:
https://github.com/alexyans/docker-node-pulsar-client/blob/master/14-alpine/Dockerfile

[2022-07-04 16:09] HyperClockUp opened #222 "I have installed pulsar-client-node successfully but when calling require throw Error as "Error: The specified module could not be found.""
1. install C++ version as [doc](https://pulsar.apache.org/docs/client-libraries-cpp#windows-64-bit)
2. build Release and set system variable as [README](https://github.com/apache/pulsar-client-node#readme)
3. install `pulsar-client` successfully
4. `require("pulsar-client")`

the minium error code is following:
[code]

but the terminal throw an error like
[code]

I've searched for a while, and som

[2022-07-08 09:43] HenriqueSerafim commented on #222
hey @HyperClockUp, any news on this? I'm stuck in the same error too.

[2022-07-12 06:41] Aries-hash opened #225 "Can't serialize message of type "pulsar.proto.MessageMetadata" because it is missing required fields: (cannot determine missing fields for lite message)"
nodejs 16
sdk version  1.6.2
cluster version  2.7

When I restart the producer, I get the following error：

2022-07-12 12:54:07.697 INFO [140305944786688] HTTPLookupService:295 | parsePartitionData = { LookupDataResult [brokerUrl_ = ] [brokerUrlTls_ = ] [partitions = 2] [authoritative = 0] [redirect = 0] proxyThroughServiceUrl = 0] }

[libprotobuf FATAL google/protobuf/message_lite.cc:327] CHECK f

[2022-07-19 07:37] semi-xi opened #226 "install pulsar-client-node,but run node-pre-gyp install error"
| Info |  Note |
| - | - |
| System Info | Mac OS Monterey V12.4   Apple M1|
| Node Info | 14.15.0 |

before i install `pulsar-client-node`，I follow [pulsar-client doc](https://pulsar.apache.org/docs/client-libraries-cpp/#macos) and install that. it's no problem. but when i `npm install` in `pulsar-client-node`，it has something errors like this:
[code]

when i update the node version to `16.16.0`,

[2022-07-20 05:36] aleixmorgadas commented on #226
@semi-xi, I ran into the same problem as you.

I solved it this way:
https://gist.github.com/aleixmorgadas/6b07a3b63c0538724503c642b04340b4

In your scenario, I think might be an issue with the python version. You should be using python3.

[2022-07-26 06:53] Sarmay opened #227 "mac m1 install pulsar-client"
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code 1
npm ERR! path /usr/local/lib/node_modules/pulsar-client
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! CC(target) Release/obj.target/nothing/node_modules/node-addon-api/nothing.o
npm ERR!   LIBTOOL-STATIC Release/nothing.a
npm ERR!   CXX(ta

[2022-07-28 20:03] iTech-dhananjay commented on #227
+1 bump

[2022-07-29 09:38] iTech-dhananjay commented on #87
Similar issue faced.
- For Mac M1 Silicon Chip
Resolution :- if there is any gap or space in your folder name , kindly avoid that . As Folder name (DevOps Team) replace or avoid space with
(DevOps-Team or DevOps_Team).
& then try to install pulsar-client
Follow the steps for installation :-
#Go to site :- https://pulsar.apache.org/docs/getting-started-standalone
->brew install sdkman
-> sdkman_ros

[2022-08-02 07:35] k2la commented on #227
@Sarmay

It seems clang doesn't link to the libpulsar library yet.
Please set `PULSAR_CPP_DIR` environment variable to the libpulsar path like below and execute `npm install`.
[code]

[2022-08-18 08:20] equanz commented on #218
I've created the PR https://github.com/apache/pulsar-client-node/pull/228 for fixing this issue.

[2022-08-24 03:13] #218 closed

[2022-08-30 15:53] zebehringer commented on #87
this fixed me:
[code]

[2022-09-03 19:39] jbmusso commented on #78
I'm new to Pulsar and I'm having the exact same issue, when running the official examples using:

* pulsar-client: 1.6.2
* libpulsar/2.10.1_1
* Node 18.8.0
* Apache Pulsar 2.10.1

Official `producer.js` example:

[code]

Output of running `node producer.js`:

[code]

Environment info:

Output of `brew info libpulsar`

[code]

I installed the C++ client with the installation instructions here: http

[2022-09-07 11:38] rkaw92 opened #230 "maxPendingMessagesAcrossPartitions not respected"
(NOTE: This was previously named "await flush() does not actually flush" - leaving this here in case it helps somebody's search)

Hi,

I have a problem with the Producer where I do this in a loop:
* `send()` a given number of messages
* `await flush()`, so that the send queue is empty
* `send()` more messages... (loop)

I'd expect the following to hold true: as long as the number of messages I sen

[2022-09-07 18:42] jbmusso commented on #61
I was wondering the same. What would be required to add Avro support via a `schema` property? Thanks.

[2022-09-07 20:06] Matt-Esch commented on #230
If the async flush method isn't flushing correctly, this is likely to be an issue in the underlying pulsar library. I don't doubt that it's possible for the library to not flush correctly, but I don't see any issue in the calling code in the node wrapper. https://github.com/apache/pulsar-client-node/blob/master/src/Producer.cc#L136

It's also possible that async publish increases the throughput ma

[2022-09-08 07:28] rkaw92 commented on #230
I currently rely on back-off, but it's not optimal. As for filling the queue, I'd think that issuing exactly as many `send()` operations as should fit in the buffer (exactly equal to maxPendingMessages) and then flushing should get rid of them all, so that the new pending messages = 0.

The code is running the latest master version from this repository. As for the C++ counterpart, it's 2.9.1 from

[2022-09-08 07:50] rkaw92 commented on #230
Aha!

https://github.com/apache/pulsar-client-node/blob/master/src/ProducerConfig.cc#L103

Setting `maxPendingMessagesAcrossPartitions` actually calls `pulsar_producer_configuration_set_max_pending_messages`, not `pulsar_producer_configuration_set_max_pending_messages_across_partitions`.

So the default stays the same at 50k: https://github.com/apache/pulsar/blob/bff34000385f6faf6dbff4385d0dc56260

[2022-09-17 17:23] #230 closed

[2022-10-14 08:46] equanz commented on #78
@jbmusso
If batchingEnabled is false(default), Producer#flush does nothing.
From C++ v2.8.2, pending messages fail when Producer#close is called.
https://github.com/apache/pulsar/pull/11570
https://github.com/apache/pulsar/blob/v2.8.2/pulsar-client-cpp/lib/ProducerImpl.cc#L609-L610

To fix it, for example, simply await Producer#send.

For more detail, please see: https://github.com/apache/pulsar-c

[2022-10-27 02:51] RobertIndie opened #237 "Cannot build the nodejs client following the Readme"
System: Ubuntu-18.04

When I followed the readme to build the client, it threw following errors at the `npm build` step:
[code]

[2022-10-27 03:56] shibd commented on #237
For Mac: You need first execute `pkg/mac/build-cpp-deps-lib.sh` and `pkg/mac/build-cpp-lib.sh`.
For Linux: You need first execute `build-support/install-cpp-client.sh`.

I'll update the README later.

[2022-11-02 02:28] shibd commented on #237
Update README: https://github.com/apache/pulsar-client-node/pull/239

[2022-11-04 05:40] massakam opened #242 "Automatic serialization/deserialization based on schema information"
https://github.com/apache/pulsar-client-node/pull/223 enabled users to set schema information for messages. However, this is not enough and Pulsar Schema is not yet fully supported. Like other language libraries, the Node.js client library should also support automatic serialization/deserialization of messages based on schema information.

[2022-11-04 09:00] shibd commented on #242
The current implementation of `C++ client` does not support this, do we want to implement it on the Node client side? Like python client.

[2022-11-09 14:00] merlimat commented on #242
C++ client support passing the schema information though not the serialization/deserialization of objects. This would have to be done in Node, using the language specific approach.